
 /* list 0 */ 
.output_block {
	position: relative;
	top: 5rem;
	width: 100%;
	margin: 1rem auto;
	border-radius: 2rem;
	padding: 1rem 1rem 7rem;
	background-color: #FFFFFF;
}
.output_control {
	cursor: pointer;
	position: absolute;
	display: inline-block;
	height: 15rem;
	margin-top: 7rem;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
	font-size: 10rem;
	background-color: RGBA(117, 116, 120, 0.3);
}
.output_control:hover, .output_control:focus {
  background-color: RGBA(117, 116, 120, 0.7);
}
.output_list {
	position: relative;
	display: inline-block;
	left: 8%;
	width: 84%;
	height: 30rem;
	padding: 1rem 1rem;
}
.output_list > div {
	position: absolute;
	left: 3%;
	right: 3%;
	top: 3%;
	bottom: 3%;
}

 /* list 2 */ 
#list2{
	gap: 0.5rem;
}
#list2 > div{
	width: 100%;
}
.data__wind{
	background: #ffffff;
	margin: 1rem auto;
	border-radius: 1rem;
	padding: 1rem 1rem;
	box-shadow: 0px 8px 16px -2px #B8B8B8;
}
.data__value{
	display: inline-block;
	text-align: center;
	width: 32%;
	aspect-ratio: 3 / 2;
	margin: auto;
	padding: 1rem 1rem;
}
.data__vdv{
	padding-left: 2%; 
}
.data__vdv > div{
	box-shadow: 0px 8px 16px -2px #B8B8B8;
	border-radius: 1rem;
	background: #ffffff;
}
.data_img{
	position: relative;
	left: 30%;
	width: 40%;
	height: 65%;
	border-radius: 1rem;
}
.data_img > img{
	width: 100%;
	height: 100%;
}

 /* list 1 */ 
.icon__container {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	aspect-ratio: 1 / 1;
	background: #3498DB;
	border-radius: 1.3rem;
	position: relative;
	
}
.icon__container > span {
	border-radius: 1.3rem;
	position: absolute;
	right: 0;
	padding: 0.21rem 0.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	background: #144471;
}
.description__container {
	display: inline-block;
	vertical-align: middle;
	width: 74%;
	height: 13rem;
	
}
.date {
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	color: #A5A5A5;
}
.lune__container {
	width: 100%;
}
.lune__container > div{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.lune__img {
	left: 10%;
	height: 100%;
	width: 7rem;
}
.lune__text {
	margin-left: 6rem;
	height: 100%;
}

 /* list 3 */ 